@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
	font-family: "Assistant", sans-serif;
}
/* custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
	position: absolute;
}
::-webkit-scrollbar-track {
	background: #cccccc;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: gray;
}

.navigator {
	flex: 1 1 1rem;
	max-width: 25%;
	overflow: hidden;
	transition: 0.2s;
}
.toggle-show {
	max-width: 0; /*toggle it to show/hide navigator*/
}
.question {
	flex: 1 1 20rem;
	min-width: 75%;
	padding-left: 3rem;
	border-left: 1px solid #383b40;
}
/* .material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
} */
.question .btn i {
	line-height: 2.2rem;
}
.accordion-body {
	display: flex;

	gap: 0.2rem;
}
.ques-badge.badge {
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	padding: 0;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
}
span.ques-badge.badge.bg-light {
	background-image: linear-gradient(
		45deg,
		var(--bs-gray-800),
		var(--bs-gray-800)
	);
}
.ques-badge:is(:hover, :focus) {
	box-shadow: 0 0 4px rgb(104, 104, 104);
	box-shadow: 0 0 4px inherit;
}

.timer {
	/* float: right; */
	margin-right: 0;
	background: var(--gray-2);
	border: 1px solid var(--bs-gray-800);
	border-radius: 5px;
	min-width: 10rem;
	display: flex;
	gap: 0.3rem;
	align-items: center;
	justify-content: center;
}
.form-check {
	margin: 0rem 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	cursor: pointer;
	border-radius: 8px;
}
.form-check:hover {
	background: #2125296b;
}
.form-check .form-check-input {
	background-color: var(--bs-gray-800);
	border-color: var(--bs-gray-800);
	margin-left: -1rem;
}
.form-check-input:checked {
	background-color: #0d6efd;
	border-color: #0d6efd;
}
label {
	display: block;
	margin-left: 1rem;
	cursor: pointer;
}
